.header-style,
.footer-style{
    margin: 1%;
    background-color: rgb(210, 210, 210);
    font-size: 45px;
    min-width: 10%;
    text-align: center;
}
.dropdown{
    width: 400px;
    margin: 1%;
}