$color-1: rgb(164, 164, 164);
$color-2: rgb(230, 230, 230);
* {
    margin: 0px;
    padding: 0px;
}

.header-style,
.footer-style {
    background-color: rgb(210, 210, 210);
    font-size: 45px;
    min-width: 10%;
    text-align: center;
    padding: 1%;
}

.normal-style {
    margin:20px;
    font-size: 30px;
    text-align: center;
}
.dropdown{
    margin: 5px 5px;
    width: 100%;
    border-top: 2px solid $color-1;
    border-bottom: 2px solid $color-1;
}
select{
    width: 100%;
    padding: 10px;
    text-align: center;
    padding-right: 10px;
    border: none;
    outline: none;
}
.nav-item{
    margin-right: 10px;
}
.navbar{
    text-align: center;

}
.nav-alignment {
    width: 100%;
    border-top: 2px solid $color-1;
    border-bottom: 2px solid $color-1;
    text-align: left;
}

#basic-nav-dropdown {
    font-size: 17px;
}
.dropdown-toggle{
    text-align: left;
}
.dropdown-toggle::after {
    margin-left: 1.555em;
    vertical-align: 0.155em;
}
.dropdown-menu{
    width: 100%;
    margin-left: 35px;
}
.dropdown-item{
    background: transparent !important;
    color: black !important;
}
.dropdown-item:hover{
    background-color: $color-2 !important;
}
.result{
    padding-right: 30px;
    padding-top: 10px;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

