$color-1: rgb(95, 92, 92);
$color-2: black;

.card-style {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;

    .card-div {
        margin: 20px;
        border: none;
        position: relative;
        z-index: -1;
    }
}

.heart {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: $color-2;
    color: white;
    opacity: 0.5;
    border-radius: 50%;
    padding: 5px;
    cursor: default;
}
.heart-toggle{
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: rgb(200, 160, 0);
    color: white;
    opacity: 5;
    border-radius: 50%;
    padding: 5px;
}


.card-image {
    height: 275px;
}

.container {
    max-width: 1660px !important;
}

.card-body {
    padding-bottom: 0px;

    p:nth-child(1) {
        text-transform: uppercase;
        color: $color-1;
        font-size: 18px;
    }

    p:nth-child(2) {
        color: $color-1;
        font-size: 16px;
    }

    p:nth-child(3) {
        color: $color-2;
        font-size: large;
    }
}