$color-3: rgb(100, 100, 100);
$color-4: rgba(199, 158, 81, 255);
$color-5: white;
$color-6: black;

.row {
    margin: 0px !important;
    padding: 0px !important;
}
.btn{
    outline: 0;
    box-shadow: none !important;
}
.btn:hover{
    color: black !important;
    background-color: white !important;
}
.first-col {
    place-content: center;
    display: grid;
}

.row-img {
    width: 100%;
    height: 100%;
    max-height: 700px;
    padding: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.col-img {
    width: 100%;
    height: 100%;
    max-height: 300px;
    padding: 15px;
    color: $color-3;
}

.right-row {
    padding: 5px !important;
    width: 100%;

    div {
        width: 100%;
    }
}

.right-col {
    span {
        float: right;
        margin: 5px 15px;
        cursor: pointer;
    }

    tr {
        p {
            font-size: 30px;
            font-weight: bold;

            sub {
                font-weight: lighter;
                font-size: 15px;
                color: $color-3;

                td {
                    padding: 7px;
                }

                td:nth-child(1) {
                    border-right: 1px solid $color-3;
                }
            }
        }
    }
}

.home-icon {
    cursor: none !important;

    a {
        display: flex;
        font-weight: 600;
        color: $color-4;

        .home {
            color: $color-5;
            background-color: $color-4 ;
            border-radius: 50%;
            padding: 3px;
        }

        p:nth-child(2) {
            padding: 0px 10px;
        }
    }
}

.middle-col {
    padding-top: 20px;
    font-size: 18px;

    td {
        font-size: 17px
    }

    td:first-child {
        font-weight: bold;
        padding-left: 0px;
    }

    td:nth-child(2) {
        text-decoration: none;
        p {
            cursor: pointer;
            width: 150px;
            margin: 0px;
            padding: 0px;
            color: black;
        }
        p:hover{
           text-decoration: underline;
        }
    }
}
.modal-dialog{
    max-width: 700px;
    img{
        padding-right: 20px;
    }
}
.text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    // -webkit-line-clamp: 5; 
    -webkit-box-orient: vertical;
    margin-bottom: 10px;
}

.personal-info {
    td:nth-child(1) img {
        width: 110px;
        height: 120px;
    }

    td:nth-child(1) {
        width: 150px;
        padding: 0px;
    }

    td:nth-child(2) tr {
        width: 20px;
    }

    td:nth-child(2) {
        p:nth-child(1) {
            color: $color-6;
            font-size: 18px;
            font-weight: bold;
        }
    }
}

.num {
    padding: 0px 10px 0px 0px !important;
    font-size: large;
}

.mail {
    padding: 0px 10px !important;
    border-left: 1px solid $color-3  !important;
    text-decoration: underline;
    cursor: pointer;
}

.map {
    width: 100%;
    height: 100px;
    margin: 15px 0px;
}

.icon-position {
    position: relative;

    .capture {
        width: 41px;
        display: flex;
        justify-content: center;
        background-color: $color-5;
        position: absolute;
        right: 100px;
        bottom: 37px;
        padding: 5px;
        cursor: pointer;
    }

    h3 {
        display: flex;
        justify-content: center;
        background-color: $color-5;
        position: absolute;
        right: 40px;
        bottom: 30px;
        padding: 5px;
        cursor: pointer;
    }
}